    body {
    background: url("https://carte.by/source/front/app/i/bg2.jpg") repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: 0px;
    vertical-align: bottom;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
}
.content {
  margin: 0px;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    background-color: #ffffff;
}
.price-text {
    float: left;
}
.price {
    position: absolute;
    width: 250px;
    height: 100px;
    top: 62%;
    left: 85%;
}
.count {
    text-align: center;
    width: 10px;
}
input {
    text-align: center;
}
.bottom {
    position: absolute;
    top: 70%;
    left: 85%;
}
.btn{
  font-size: 10px;
}
.white-text {
    font-size: 10pt;
}
.footer-copyright {
    font-size: 11pt;
}
img {
    width: 130px;
    border-radius: 3px;
}
.button-add:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
